.mainbackground{background: url(../Images/mainback.jpg)repeat fixed 100%;
background-size: cover;height: 300%;background-position: bottom;}

.cube-opt{height: 150px;background-color: inherit;text-align: center;border: solid white 3px;transition: all 1s;background-color: rgba(0,0,0,.5)}
.centered-nice{width: 16.66%;display:inline-block}
.centered-basic{display:inline-block}
.cube-opt:hover {background-color: crimson;transition: all 1s;}
.wrapper-div{text-align:center}
.drop{padding-top:70px}
.scorecard{
  background:#FFFFFF;
  border:3px solid black;
}
.scorecard:hover{
  background:#DDDDDD;
}

h4 {margin-bottom: 0px;}
.space-down{margin-top: 2vh}
