
body {margin: 0px;}

input{border: 0px}


.shortbar {
  background-color: #1c1c1c;
  height: 10px;
  margin: 0px;
  width: 60%;

}

.nomargin{margin: 0px;}

.example6 .navbar-brand{
  background: url("../Images/MainLogoWhite.png") center / 50% no-repeat;
  width: 200px;
}

.reportcustominput {
  border: 0px;
  border-bottom: 2px solid #1c1c1c;
  background-color: transparent;
  width: 100px;
}

.reportcustominput:focus {
  border: 0px;
}

.reportrequest {border: 2px solid #1c1c1c;
  padding: 10px;
  margin-bottom: 10px;}


.roundbutton {border-radius: 99px;
  height: 100px;width: 100px;
  background-color: #1c1c1c;
  padding: 20px;}
